.c-navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    display: inline-block;
    margin: auto;
    border: red solid 0.01px;
    /* -webkit-box-shadow: 0px 10px 35px -12px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 10px 35px -12px rgba(0,0,0,0.35);
    box-shadow: 0px 10px 35px -12px rgba(0,0,0,0.35); */
}

.c-navbar__logo {
    margin: 0;
}

.c-navbar__logo img {
    height: 50px;
    width: 100%;
}

.o-hero-nav__a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 13pt;
}

/*------- Nav Bar Desktop -------*/
.o-hero-nav--desktop {
    justify-content: space-between;
}

.o-hero-nav--desktop a {
    margin-left: 20px;
}

/*------- Nav Bar Mobile -------*/
.o-hero-nav--menu {
    display: flex;
    justify-content: space-between;
    vertical-align: auto;
    align-items: center;
    height: 80px;
    width: auto;
}

.o-burger__img {
    height: 36px;
    width: auto;
    cursor: pointer;
}

#check {
    display: none;
}

.c-hero__navmenu {
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: #0F75BC;
    top: 80px;
    left: 0;
    text-align: center;
    padding-top: 50px;
    top: -100%;
    transition: all 0.5s;
}

.o-hero-nav__a--menu {
    display: block;
    color: white;
    font-weight: 400;
    padding: 30px 0 30px 0;
    font-size: 21pt;
    letter-spacing: 2px;
    transition: 0.5ms;
}

.o-hero-nav__a--menu:hover {
    background-color: #0099ff;
}

.o-hero-nav__a--menu:focus {
    font-weight: 800;
}

#check:checked~.c-hero__navmenu {
    margin-top: 80px;
    top: 0;
}